*.a
*.o
*.la
*.so
*.crt
*.dll
*.exe
*.key
*.lib
*.log
*.obj
*.out
*.pem
*.pid
*.core
*.dylib
build/
bld/
include/version.h
logs/
doxygen/
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Makefile
.vs/
.vscode/
/CMakeSettings.json
